.selected-station
	display flex
	border 1px solid color-blue-rome
	padding 20px

	.left
		margin-right 20px

		img
			width 145px
			height 145px

	.right
		width 100%
		display flex
		flex-direction column

		section
			&.title
				font-size font-size-large
				color color-purple-rain-900

			&.desc
				font-size font-size-x-medium
				color color-blue-rhino
				padding 10px 0
				min-height 70px

			&.rating
				margin 10px 0

			&.tags
				display flex
				padding 10px 0

				.pill
					border-radius 10px
					background-color color-blue-rollingstone
					padding 5px 8px
					color color-white
					font-size font-size-small
					margin-right 10px
					text-transform capitalize

			&.stream
				margin-top 10px


