{
  "presets": [
  	"es2015", "react"
  ],
  "plugins": [
  	"transform-class-properties",
    [
      "react-intl", {
        "messagesDir": "./i18n/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}