.stations-grid
	display flex
	flex-wrap wrap
	margin 15px 0

	.grid
		margin 5px 0
		border 1px solid #ccc
		margin-right 10px
		cursor pointer
		padding 8px

		&:hover, &.selected
			background-color color-purple-rain-300
			color color-white

		.title
			display flex
			justify-content center
			margin-top 8px

