footer
	border-top 1px solid color-blue-athens
	padding 40px 0
	margin 0 auto
	width content-width
	display flex
	flex-direction column
	font-size 90%

	.social
		margin-bottom 20px

	p
		margin 5px 0
		color color-blue-ghost
		
		a
			font-weight bold

